{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/r-2.2.3/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.20/api/sum().js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'main_template/style.css' %}">
        <script src="{% static 'main_template/main.js' %}"></script>

        <title>Семплирование Томпсона для A/B-тестов</title>
        <meta name="description" charset="UTF-8" content="Бесплатный инструмент для оптимизации A/B тестов с помощью алгоритма семплирования Томпсона">

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KJK64RR');</script>
        <!-- End Google Tag Manager -->

    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJK64RR"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Семплирование Томпсона для A/B-тестов</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://docs.google.com/document/d/1fwQDxIZWAgD3rRkD8KVV8QwHU0YDWNCGcEfgf-SOO4o/edit?usp=sharing">Инструкция</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://docs.google.com/document/d/1riXxaKXwVVApJ1YJWbPbbjHKb4WWX4jm6FTfXHAY1hI/edit?usp=sharing">Описание алгоритма</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://m.me/anton.golosnichenko63">Связаться с автором</a>
                </li>
            </ul>
          </div>
        </nav>
        <div class="container mt-3 pb-5">
            <div class="row">
                <!-- Первый ряд -->
                <div class="col-xs-12 col-md-4">
                    <!-- Первый ряд - Левая колонка -->
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <label>Что тестируем:</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="reportType" class="form-check-input" id="reportTypeBanner" value="banner" checked>
                                <label for="reportTypeBanner" class="form-check-label">Баннер</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" name="reportType" class="form-check-input" id="reportTypeCampaign" value="campaign">
                                <label for="reportTypeCampaign" class="form-check-label">Кампания</label>
                            </div>
                        </div>
                    <form id="googleSpreadsheetForm" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form}}
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Получить данные</button>
                            <span class="btn btn-secondary" id="demo">Демо</span>
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-md-8">
                    <!-- Первый ряд - Правая колонка -->
                    <section id="section_dataTable">
                        <p><b>Данные:</b></p>
                        <table id="dataTable" class="display stripe cell-border compact" style="width:100%">
                            <tr>
                                <th>Дата</th>
                                <th>Показы 1</th>
                                <th>Клики 1</th>
                            </tr>
                        </table>
                    </section>
                </div>
            </div>
            <div class="row mt-3">
                <!-- Второй ряд -->
                <div class="col-xs-12 col-md-4">
                    <!-- Второй ряд - левая колонка -->
                    <p><b>Результат:</b></p>
                    <div class="alert alert-info" role="alert">
                      <span id="result">Загрузите таблицу Google Spreadsheet с данными</span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <!-- Второй ряд - правая колонка -->
                    <section id="section_Plot">
                        <p><b>Визуализация:</b></p>
                        <img id="plot" alt="">
                    </section>
                </div>
            </div>
        </div>
        <footer class="footer mt-auto fixed-bottom py-3">
            <div class="container">
                <span class="text-muted">Автор продукта: <a href="https://www.facebook.com/anton.golosnichenko63" target="_blank">Антон Голосниченко</a></span>
            </div>
        </footer>
    </body>
</html>