#section_dataTable{
    visibility: hidden;
}

#section_Plot{
    visibility: hidden;
}

#dataTable{
    font-size: 0.8rem;
}
table.dataTable thead th {
    font-size: 0.8rem;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
}
table.dataTable tfoot tr {
    font-size: 0.8rem;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    font-weight: bold;
    text-align: center;
}

#plot {
    max-width:100%;
    height:auto;
}

.footer{
    background-color: #f5f5f5;
}