body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #4f4f4f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292929;
    font-weight: bold
}

.btn {
    font-weight: bold;
    padding: .375rem 1rem;
    height: 2.75rem;
    transition: all 0.4s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}

.btn:focus,
.btn.focus {
    box-shadow: none !important
}

.btn-primary {
    color: #fff
}

.form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    height: 2.75rem;
    border-color: #c2c2c2
}

.theme-bg-light {
    background: #fafafa !important
}

.theme-bg-dark {
    background: #223142 !important
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 280px;
    background: #5D6BA7;
    color: #fff
}

.header .blog-name {
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff
}

.header .blog-name a {
    color: #fff
}

.header .blog-name a:hover {
    text-decoration: none
}

.header .btn-primary {
    background: rgba(0, 0, 0, 0.3);
    border-color: transparent;
    font-size: 1rem;
    padding-top: 0.5rem
}

.header .btn-primary:hover {
    background: rgba(0, 0, 0, 0.4);
    border-color: transparent
}

.header .navbar {
    padding: 2rem 1rem
}

.header .navbar-dark .navbar-toggler {
    border-radius: 2px;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    opacity: .8;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: .25rem .6rem
}

.header .navbar-dark .navbar-toggler:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.header .nav-item {
    font-weight: bold
}

.header .nav-item.active .nav-link {
    /* color: rgba(0, 0, 0, 0.5) */
    color: white;
}

.header .nav-item.active .nav-link:hover {
    text-decoration: none
}

.header .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8)
}

.header .nav-item .nav-link:hover {
    text-decoration: underline;
    /* color: rgba(0, 0, 0, 0.6) */
    color: white;
}

.profile-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.profile-section .bio {
    font-size: 0.875rem
}

.profile-section .bio a {
    color: #fff;
    text-decoration: underline
}

.profile-section .bio a:hover {
    color: rgba(0, 0, 0, 0.6)
}

.social-list a {
    width: 32px;
    height: 32px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: #fff
}

@media (prefers-reduced-motion: reduce) {
    .social-list a {
        transition: none
    }
}

.social-list a:hover {
    color: #4a5587;
    background-color: rgba(255, 255, 255, 0.8)
}

.main-wrapper {
    margin-left: 280px;
    background: #fff
}

.main-wrapper .container {
    max-width: 820px
}

.cta-section .heading {
    font-size: 2rem;
    font-weight: bold
}

.promo-section {
    margin-bottom: 40px
}

.promo-section .promo-image {
    max-width: 320px
}

.promo-section .promo-section-inner {
    background: #5D6BA7
}

.footer {
    color: rgba(255, 255, 255, 0.7)
}

.footer a {
    color: #fff
}

.blog-list .item .title {
    font-size: 1.275rem
}

.blog-list .item .title a {
    color: #292929
}

.blog-list .item .title a:hover {
    color: #292929
}

.blog-list .item .post-thumb {
    max-width: 110px;
    border-radius: 2px
}

.blog-list .item .intro {
    font-size: 0.875rem
}

.blog-list .item .more-link {
    font-size: 0.8125rem
}

.meta {
    color: #8f8f8f;
    font-size: 0.8125rem
}

.meta span {
    display: inline-block
}

.meta span a {
    color: #8f8f8f
}

.meta span a:hover {
    color: #4f4f4f
}

.meta span:after {
    content: "";
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #8f8f8f;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    top: -3px
}

.meta span:last-child:after {
    display: none
}

.blog-nav .nav-link {
    background: #5D6BA7;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    font-weight: bold;
    position: relative
}

.blog-nav .nav-link:hover {
    background: #4a5587
}

.blog-nav .nav-link-prev {
    border-right: 1px solid #384066
}

.blog-nav .arrow-prev {
    position: absolute;
    left: 1rem;
    top: 1.25rem;
    color: #fff
}

.blog-nav .arrow-next {
    position: absolute;
    right: 1rem;
    top: 1.25rem;
    color: #fff
}

.blog-post .title {
    font-weight: bold;
    font-size: 2rem
}

.blog-post .blog-post-body p,
.blog-post .blog-post-body li {
    font-size: 1.125rem;
    line-height: 1.6
}

.blog-post .blog-post-body h1 {
    font-size: 2.125rem
}

.blog-post .blog-post-body h2 {
    font-size: 2rem
}

.blog-post .blog-post-body h3 {
    font-size: 1.75rem
}

.blog-post .blog-post-body h4 {
    font-size: 1.5rem
}

.blog-post .blog-post-body h5 {
    font-size: 1.25rem
}

.blog-post .blog-post-body h6 {
    font-size: 1.125rem
}

.blog-post .image-caption {
    color: #8f8f8f;
    font-size: 0.875rem
}

.blog-post .image-caption a {
    color: #8f8f8f;
    text-decoration: underline
}

.blog-post .image-caption a:hover {
    color: #4f4f4f
}

.blog-post .blockquote {
    font-family: Georgia, "Times New Roman", Times, serif;
    border-left: 2px solid #292929;
    font-size: 1.5rem
}

.blog-post .blockquote p {
    font-size: 1.5rem
}

.about-section .heading {
    font-size: 2rem
}

.about-section p,
.about-section li {
    font-size: 1.125rem;
    line-height: 1.6
}

.about-section h1 {
    font-size: 2.125rem
}

.about-section h2 {
    font-size: 2rem
}

.about-section h3 {
    font-size: 1.75rem
}

.about-section h4 {
    font-size: 1.5rem
}

.about-section h5 {
    font-size: 1.25rem
}

.about-section h6 {
    font-size: 1.125rem
}

@media (min-width: 768px) {
    .theme-btn-cta {
        width: inherit;
        display: inline-block
    }
    .cta-section .form-inline .form-control {
        width: 360px
    }
}

@media (max-width: 991.98px) {
    .header {
        position: static;
        width: inherit;
        height: auto
    }
    .header .blog-name {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem
    }
    .header .btn-primary {
        width: 100%
    }
    .header .navbar {
        padding: 1rem
    }
    .main-wrapper {
        margin-left: 0
    }
}

@media (max-width: 767.98px) {
    .signup-form .form-group {
        width: 100%;
        margin-bottom: 0.5rem
    }
    .signup-form .form-control {
        width: 100%
    }
    .signup-form .btn-primary {
        width: 100%
    }
}

body {
    overflow-x: hidden
}

.config-trigger {
    position: absolute;
    top: 30px;
    left: -36px;
    width: 36px;
    height: 36px;
    background: #223142;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-decoration: none
}

.config-trigger:hover {
    background: #111820;
    text-decoration: none
}

.config-trigger:hover .fa-cog {
    color: #fff
}

.config-trigger .fa-cog {
    font-size: 1.25rem;
    display: block;
    color: #fff
}

.config-panel {
    position: absolute;
    top: 50px;
    right: -190px;
    z-index: 30;
    width: 190px
}

.config-panel .panel-inner {
    position: relative;
    background: #223142;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.config-panel .panel-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff
}

.config-panel label {
    color: #fff
}

.config-panel #color-options {
    margin-bottom: 0px
}

.config-panel #color-options li a {
    display: block;
    width: 28px;
    height: 28px;
    border: 2px solid transparent;
    margin-top: 5px
}

.config-panel #color-options li a:hover {
    -webkit-opacity: .9;
    -moz-opacity: .9;
    opacity: .9;
    border: 2px solid rgba(255, 255, 255, 0.9)
}

.config-panel #color-options li.list-inline-item {
    margin-right: 5px
}

.config-panel #color-options li.active a {
    border: 2px solid #fff
}

.config-panel #color-options li.theme-1 a {
    background: #5FCB71
}

.config-panel #color-options li.theme-2 a {
    background-color: #5BC3D5
}

.config-panel #color-options li.theme-3 a {
    background-color: #3B7EEB
}

.config-panel #color-options li.theme-4 a {
    background-color: #5ECCA9
}

.config-panel #color-options li.theme-5 a {
    background-color: #EEA73B
}

.config-panel #color-options li.theme-6 a {
    background-color: #5469C9
}

.config-panel #color-options li.theme-7 a {
    background-color: #5D6BA7
}

.config-panel #color-options li.theme-8 a {
    background-color: #6C51A4
}

.config-panel .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #fff
}

.config-panel .close .fa {
    color: #fff
}

.btn-primary {
color: #fff;
background-color: #6C51A4;
border-color: #6C51A4;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5b448a;
    border-color: #564082;
}