{% extends "BlogApp/base.html" %}
{% block content %}
<article class="about-section py-5">
	<div class="container">
		<figure>
			<img src="{{ MEDIA_URL }}anton_golosnichenko.jpg" class="profile-image mb-3 rounded-circle mx-auto" alt="">
		</figure>
		<h2 class="title mb-3">Привет, я - Антон Голосниченко</h2>
		<p><small><a href="https://www.facebook.com/anton.golosnichenko63" target="_blank">Facebook</a>, <a href="https://www.linkedin.com/in/anton-golosnichenko/" target="_blank">LinkedIn</a></small></p>
		<h5 class="mt-5">Обо мне</h5>
		<ul>
			<li>Изучаю применение машинного обучения для маркетинга и бизнеса</li>
			<li>Программирую на Python и R</li>
			<li>Разрабатываю продукты на Django и Ruby on Rails</li>
			<li>Руководил крупными проектами в агентстве performance-маркетинга. Среди моих клиентов - НТВ-Плюс, Рольф, Urban Group, Русский Ипотечный Банк, Банк Санкт-Петербург</li>
		</ul>
		<h5 class="mt-5">Об этом блоге</h5>
		<ul>
			<li>В блоге публикуются материалы по машинному обучению, статистике, аналитике, исследованию данных, и их применению для маркетинга и бизнеса </li>
			<li>Часть материалов - мои наблюдения и находки, которыми я хочу поделиться</li>
			<li>Другая часть материалов - это переведенные статьи западных экспертов</li>
			<li>Также стараюсь разбавлять теорию практикой - публикую исходные коды программ, либо разрабатываю мини-сервисы</li>
		</ul>
		<h5 class="mt-5">Как со мной связаться</h5>
		<ul>
			<li>Написать в <a href="https://www.facebook.com/anton.golosnichenko63" target="_blank">фейсбуке</a> или <a href="https://www.linkedin.com/in/anton-golosnichenko/" target="_blank">линкедине</a></li>
			<li>Написать в <a href="https://t.me/agolosnichenko" target="_blank">телеграме</a>, <a href="https://wa.me/79167268093" target="_blank">вотсаппе</a>,
				<a href="viber://add?number=79167268093" target="_blank">вайбере</a> или <a href="skype:webalized?chat" target="_blank">скайпе</a></li>
			<li><a href="tel://79167268093">Позвонить</a></li>
		</ul>
	</div>
</article>
{% endblock %}