{% load static %}
{% url 'index' as index_url %}
{% url 'about' as about_url %}
<html>
<head>
	<title>Go Data Science! Блог о машинном обучении для бизнеса и маркетинга</title>
	<meta name="description" content="Блог о машинном обучении для бизнеса и маркетинга">
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	{% block opengraph %}
	{% endblock %}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'blog_template/style.css' %}">
	<script src="{% static 'blog_template/main.js' %}"></script>
</head>
<body>
	<header class="header text-center">
		<h1 class="blog-name pt-lg-4 mb-0"><a href="{{ index_url }}">Go Data Science!</a></h1>
		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column">

				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item {% if request.path == index_url %} active {% endif %}">
					    <a class="nav-link" href="{{ index_url }}"><i class="fas fa-home fa-fw mr-2"></i> Главная <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item {% if request.path == about_url %} active {% endif %}">
					    <a class="nav-link" href="{{ about_url }}"><i class="fas fa-user fa-fw mr-2"></i> Об авторе</a>
					</li>
				</ul>

				<div class="my-2 my-md-3">
				    <a class="btn btn-primary" href="#" target="_blank">Обучение</a>
				</div>
			</div>
		</nav>
	</header>
	<div class="main-wrapper">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>