{% extends "BlogApp/base.html" %}
{% block content %}
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
	    <h2 class="heading">Машинное обучение для бизнеса и маркетинга</h2>
	    <div class="intro">Не пропустите полезные материалы по машинному обучению, статистике и анализу данных. Присылаю одно письмо в неделю.</div>
	    <form action="https://godatascience.us4.list-manage.com/subscribe/post?u=9f7acdc4feab81d6898d93eab&amp;id=53427269d9" method="post"  class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <label class="sr-only" for="semail">Your email</label>
                <input type="email" id="semail" name="EMAIL" class="form-control mr-md-1 semail" required placeholder="Введите email">
            </div>
            <button type="submit" class="btn btn-primary">Подписаться</button>
        </form>
    </div><!--//container-->
</section>
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
	    {% for post in post_list %}
	    <div class="item mb-5">
		    <div class="media">
			    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{post.thumbnail.url}}" alt="{{ post.title }}">
			    <div class="media-body">
				    <h3 class="title mb-1"><a href="{% url 'post_detail' post.slug  %}">{{ post.title }}</a></h3>
				    <div class="meta mb-1"><span>{{post.category.name}}</span><span class="date">Опубликовано {{ post.created_on|timesince }} назад</span><span class="time">Время на чтение - {{ post.minstoread }} мин.</span></div>
				    <div class="intro">{{post.content|striptags|slice:":200" }}</div>
				    <a class="more-link" href="{% url 'post_detail' post.slug  %}">Подробнее →</a>
			    </div><!--//media-body-->
		    </div><!--//media-->
	    </div><!--//item-->
		{% endfor %}
	    <nav class="blog-nav nav nav-justified my-5">
		    {% if post_list.has_previous %}
		        <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="?page={{ post_list.previous_page_number }}">Previous <i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
		    {% endif %}
		    {% if post_list.has_next %}
		        <a class="nav-link-next nav-item nav-link rounded" href="?page={{ post_list.next_page_number }}">Next <i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
		    {% endif %}
		</nav>
    </div>
</section>
{% endblock %}