{% extends "BlogApp/base.html" %}
{% block opengraph %}
<meta property="og:url" content="{{ request.build_absolute_uri }}{{ object.get_absolute_url }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ post.title }}">
<meta property="og:description" content="{{post.content|striptags|slice:':200' }}">
<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ post.image.url }}">
<meta property="og:image:width" content="{{ post.image.width }}">
<meta property="og:image:heigth" content="{{ post.image.height }}">
<meta property="og:locale" content="ru">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@angolosnichenko">
<meta name="twitter:creator" content="@angolosnichenko">
<meta name="twitter:title" content="{{ post.title }}">
<meta name="twitter:description" content="{{post.content|striptags|slice:':200' }}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ post.image.url }}">
{% endblock %}
{% block content %}
<article class="blog-post px-3 py-5 p-md-5">
	<div class="container">
		<header class="blog-post-header">
		    <h2 class="title mb-2">{{ post.title }}</h2>
		    <div class="meta mb-3"><span>{{post.category.name}}</span><span class="date">Опубликовано {{post.created_on|timesince}} назад</span><span class="time">Время на чтение - {{post.minstoread}} мин.</span></div>
	    </header>
		<div class="blog-post-body">
			<figure class="blog-banner">
				<img src="{{ post.image.url }}" alt="{{ post.title }}">
			</figure>
			<p>{{ post.content | safe }}</p>
		</div>
		<div class="blog-comments-section" id="disqus_thread"></div>
	</div>
</article>
<script>
	/**
	*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
	*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
	/*
	var disqus_config = function () {
	this.page.url = window.location.host+window.location.pathname;  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = {{post.slug}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};
	*/
	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://godatascience.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}